@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  background-image: url('https://picsum.photos/id/222/1920/1090');
  background-size: cover;
}
.animate{
  animation:blink 1.2s forwards linear infinite;
}
@keyframes blink {
  0%{
    opacity:0;
  }
  50%{
    opacity:0.4;
  }
  100%{
    opacity:0.8;
  }
}
.no-empty:empty{
display:none;
}